body {
    background-color: antiquewhite;
}

.heading h1 {
    color: rgb(0, 145, 0);
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 100;
    font-size: 3em;
}

.heading h3 {
    color: rgb(0, 71, 0);
    font-family: 'Raleway', sans-serif;
}

.heading {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1px;
    text-align: center;
}